
@{
    ViewBag.Title = "Amenities";
}

<h2>Amenities</h2>

<h3>
    Amenities available at University Research Campus
</h3>
<p>
    Listed below are University amenities for use by Research Campus employees. These amenities are provided as a courtesy and are subject to availability as University faculty, staff and students will receive first priority. All such amenities, including any fees charged, are subject to change, modification or elimination without notice, at the exclusive discretion of the University.
</p>

